@import 'compass/reset';
@import 'compass/css3';

$mainBlue : #5894DD;
$mainGreen : #d7df00;

html, body {
	font : 12px/1.6em 'Century Gothic', sans-serif, serif, '黑體', 'Heiti TC', '新細明體', 'PMingLiU';
}

button {
	padding     : 0;
	background  : transparent;
	border      : 0;
	font-family : 'Century Gothic', sans-serif, serif, '黑體', 'Heiti TC', '新細明體', 'PMingLiU';
}

a, a:hover {
	text-decoration : none;
}

.both {
	height   : 100%;
	clear    : both;
	overflow : hidden;
	zoom     : 1;
}

.middleSet {
	position  : relative;
	height    : 100%;
	font-size : 0;

	&:before {
		content        : '';
		display        : inline-block;
		vertical-align : middle;
		height         : 100%;
	}

	* {
		font-size      : auto;
		display        : inline-block;
		vertical-align : middle;
	}
}

.hide-text {
	white-space : nowrap;
	text-indent : 100%;
	overflow    : hidden;
}

.header {
	@include transition(ease-in-out all 0.3s);
	display  : block;
	width    : 100%;
	height   : 45px;
	position : fixed;
	top      : 0;
	left     : 0;
	z-index  : 5;

	&.show:after {
		content       : '';
		background    : $mainBlue;
		display       : block;
		width         : 60px;
		height        : 60px;
		position      : absolute;
		top           : -9px;
		right         : -9px;
		border-radius : 30px;
		z-index       : 1;
	}

	.btn-menu {
		width    : 45px;
		height   : 45px;
		position : absolute;
		top      : 0;
		right    : 0;
		z-index  : 2;

		&:before, &:after, .icon {
			@include transition(ease-in-out all 0.3s);
			content       : '';
			margin        : -1px 0 0 -12px;
			background    : #fff;
			width         : 24px;
			height        : 2px;
			position      : absolute;
			top           : 50%;
			left          : 50%;
			border-radius : 1px;
		}

		&:before {
			margin-top : -8px;
		}

		&:after {
			margin-top : 6px;
		}
	}

	.menu-bar {
		@include transition(ease-in-out all 0.3s);
		background : rgba(255,255,255,0.8);
		width      : 100%;
		max-height : 0;
		position   : absolute;
		top        : 0;
		left       : 0;
		overflow   : hidden;

		.menu {
			width      : 100%;
			text-align : center;
		}

		.list {
			display : block;

			.btn-theme {
				position       : relative;
				color          : $mainBlue;
				font-size      : 24px;
				letter-spacing : 1px;
				line-height    : 45px;
			}

			&.curr {
				background : rgba(215,223,0,0.7);

				.btn-theme {
					&:before, &:after {
						content    : '';
						margin     : -1px 0 0 0;
						background : $mainBlue;
						display    : block;
						width      : 16px;
						height     : 2px;
						position   : absolute;
						top        : 50%;
						left       : -24px;
					}

					&:after {
						left  : auto;
						right : -24px;
					}
				}
			}
		}
	}

	&.trigger {
		background : transparent;
		height     : 100%;

		&.show:after {
			background : transparent;
		}

		.btn-menu {
			&:before, &:after, .icon {
				background : $mainBlue;
			}

			&:before, &:after {
				@include rotate(-45deg);
				margin-top : 0;
			}

			&:after {
				@include rotate(45deg);
			}

			.icon {
				display : none;
			}
		}

		.menu-bar {
			height     : 100%;
			max-height : 100%;
		}
	}
}

.midWrap {
	padding  : 50px 0 0 0;
	position : relative;

	&:before, &:after {
		content    : '';
		background : $mainBlue;
		display    : block;
		width      : 100%;
		height     : 423px;
		position   : absolute;
		top        : 0;
		left       : 0;
	}

	&:after {
		height : 42px;
		top    : auto;
		bottom : 0;
	}

	&.front-end .mainWrap.front-end {
		display : block;
	}

	&.about .mainWrap.about {
		display : block;
	}

	&.more .mainWrap.more {
		display : block;
	}

	.mainWrap {
		display  : none;
		position : relative;
		z-index  : 1;

		&.about {
			padding    : 0 20px 20px 20px;
			background : $mainBlue;
		}
	}

	.logo {
		height   : 184px;
		overflow : hidden;

		.logo-img {
			margin   : 14px 14px 14px -79px;
			width    : 158px;
			position : absolute;
			left     : 50%;
			z-index  : 1;

			img {
				display : block;
				width   : 100%;
			}
		}
	}

	.signature {
		margin   : 0 0 0 -92px;
		display  : block;
		position : absolute;
		left     : 50%;
		z-index  : 2;

		.bg {
			clip-rule : evenodd;
			fill      : $mainGreen;
			fill-rule : evenodd;
		}

		.stroke {
			fill              : none;
			stroke            : $mainBlue;
			stroke-dasharray  : 1000;
			stroke-dashoffset : 1000;
			stroke-linecap    : round;
			stroke-linejoin   : round;
			stroke-width      : 30px;

			&.path1 {
				-webkit-animation : dash 1s linear forwards 1s;
				-moz-animation    : dash 1s linear forwards 1s;
				animation         : dash 1s linear forwards 1s;
			}

			&.path2 {
				-webkit-animation : dash 1s linear forwards 1.7s;
				-moz-animation    : dash 1s linear forwards 1.7s;
				animation         : dash 1s linear forwards 1.7s;
			}

			&.path3 {
				-webkit-animation : dash2 1.2s linear forwards 2.4s;
				-moz-animation    : dash2 1.2s linear forwards 2.4s;
				animation         : dash2 1.2s linear forwards 2.4s;
				stroke-dasharray  : 1300;
				stroke-dashoffset : 1300;
			}
		}

		.dot {
			-webkit-animation : cir .1s linear forwards 4s;
			-moz-animation    : cir .1s linear forwards 4s;
			animation         : cir .1s linear forwards 4s;
			opacity           : 0;
			fill              : $mainBlue;
			stroke            : $mainBlue;
			stroke-width      : 2;
		}

		.shadow {
			opacity           : 0;
			fill              : $mainBlue;
			-webkit-animation : cir2 .5s linear forwards 4.5s;
			-moz-animation    : cir2 .5s linear forwards 4.5s;
			animation         : cir2 .5s linear forwards 4.5s;
		}
	}

	.title {
		margin         : 30px 0 56px 0;
		color          : $mainGreen;
		font-size      : 16px;
		letter-spacing : 1px;
		text-align     : center;
	}

	.works {
		margin : 0 auto;
		width  : 250px;

		.list {
			display  : block;
			position : relative;

			img {
				display : block;
				width   : 100%;
			}

			.case-name {
				@include box-sizing(border-box);
				padding        : 40px 10px 0 0;
				background     : -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
				background     : -moz-linear-gradient(transparent, rgba(0, 0, 0, .7));
				background     : linear-gradient(transparent, rgba(0, 0, 0, .7));
				display        : block;
				width          : 100%;
				height         : 70px;
				position       : absolute;
				bottom         : 0;
				left           : 0;
				color          : #fff;
				font-size      : 13px;
				letter-spacing : 1px;
				line-height    : 30px;
				text-align     : right;
			}
		}
	}

	.head-shot {
		margin        : 13px auto;
		background    : $mainGreen;
		display       : block;
		width         : 158px;
		height        : 158px;
		border-radius : 79px;
		overflow      : hidden;

		img {
			display : block;
			width   : 100%;
		}
	}

	.name {
		margin-bottom  : 36px;
		color          : $mainGreen;
		font-size      : 24px;
		letter-spacing : 1px;
		text-align     : center;
	}

	.sub-title {
		margin-bottom  : 8px;
		color          : $mainGreen;
		font-size      : 18px;
		letter-spacing : 1px;
	}

	.expConp {
		margin : 0 20px 30px 20px;

		.list {
			color          : #fff;
			letter-spacing : 1px;
			line-height    : 18px;
		}

		.time {
			padding   : 0 12px 0 0;
			display   : inline-block;
			min-width : 110px;
		}
	}

	.brief {
		margin : 0 20px 30px 20px;

		.bio {
			color          : #fff;
			letter-spacing : 1px;
			line-height    : 18px;
		}
	}

	.skill-list {
		margin         : -10px 20px 30px 20px;
		color          : #fff;
		letter-spacing : 1px;
		line-height    : 18px;

		.category {
			margin  : 18px 0 0 0;
			display : block;
		}

		.list {
			padding-left : 13px;
			position: relative;

			&:before {
				content       : '';
				background    : #fff;
				display       : block;
				width         : 4px;
				height        : 4px;
				position      : absolute;
				top           : 7px;
				left          : 3px;
				border-radius : 2px;
			}
		}
	}
}

.footer {
	padding    : 30px 0 15px 0;
	background : $mainBlue;
	text-align : center;

	.community {
		text-align : center;

		.list {
			margin  : 0 10px 20px 10px;
			display : inline-block;
			width   : 45px;
			height  : 45px;
		}

		.link {
			background      : url(../img/mobile/icons.png) no-repeat 0 0;
			background-size : 100%;
			display         : block;
			height          : 100%;

			&.instagram {
				background-position : 0 -45px;
			}

			&.github {
				background-position : 0 -90px;
			}

			&.linkedin {
				background-position : 0 -135px;
			}
		}
	}

	.contact-info .list {
		padding     : 0 8px;
		display     : inline-block;
		color       : #fff;
		line-height : 18px;

		&:last-child {
			display : block;
		}

		.link {
			color : #fff;
		}
	}
}

@-webkit-keyframes dash {
	from {
		stroke-dashoffset : 1000;
	}
	to {
		stroke-dashoffset : 0;
	}
}

@-moz-keyframes dash {
	from {
		stroke-dashoffset : 1000;
	}
	to {
		stroke-dashoffset : 0;
	}
}

@keyframes dash {
	from {
		stroke-dashoffset : 1000;
	}
	to {
		stroke-dashoffset : 0;
	}
}

@-webkit-keyframes dash2 {
	from {
		stroke-dashoffset : 1300;
	}
	to {
		stroke-dashoffset : 0;
	}
}

@-moz-keyframes dash2 {
	from {
		stroke-dashoffset : 1300;
	}
	to {
		stroke-dashoffset : 0;
	}
}

@keyframes dash2 {
	from {
		stroke-dashoffset : 1300;
	}
	to {
		stroke-dashoffset : 0;
	}
}

@-webkit-keyframes cir {
	from {
		opacity : 0;
	}
	to {
		opacity : 1;
	}
}

@-moz-keyframes cir {
	from {
		opacity : 0;
	}
	to {
		opacity : 1;
	}
}

@keyframes cir {
	from {
		opacity : 0;
	}
	to {
		opacity : 1;
	}
}

@-webkit-keyframes cir2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.3;
	}
}

@-moz-keyframes cir2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.3;
	}
}

@keyframes cir2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.3;
	}
}

.animated {
	-webkit-animation-duration  : 1s;
	-moz-animation-duration     : 1s;
	animation-duration          : 1s;
	-webkit-animation-fill-mode : both;
	-moz-animation-fill-mode    : both;
	animation-fill-mode         : both;
}

@-webkit-keyframes flipInY {
	0% {
		-webkit-transform                  : perspective(400px) rotate3d(0, 1, 0, 180deg);
		-moz-transform                     : perspective(400px) rotate3d(0, 1, 0, 180deg);
		transform                          : perspective(400px) rotate3d(0, 1, 0, 180deg);
		-webkit-transition-timing-function : ease-in;
		-moz-transition-timing-function    : ease-in;
		transition-timing-function         : ease-in;
		opacity                            : 0;
	}
	
	40% {
		-webkit-transform                  : perspective(400px) rotate3d(0, 1, 0, -40deg);
		-moz-transform                     : perspective(400px) rotate3d(0, 1, 0, -40deg);
		transform                          : perspective(400px) rotate3d(0, 1, 0, -40deg);
		-webkit-transition-timing-function : ease-in;
		-moz-transition-timing-function    : ease-in;
		transition-timing-function         : ease-in;
	}
	
	60% {
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, 10deg);
		-moz-transform    : perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity           : 1;
	}
	
	80% {
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, -5deg);
		-moz-transform    : perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	
	100% {
		-webkit-transform : perspective(400px);
		-moz-transform    : perspective(400px);
		transform         : perspective(400px);
	}
}

@-moz-keyframes flipInY {
	0% {
		-webkit-transform                  : perspective(400px) rotate3d(0, 1, 0, 180deg);
		-moz-transform                     : perspective(400px) rotate3d(0, 1, 0, 180deg);
		transform                          : perspective(400px) rotate3d(0, 1, 0, 180deg);
		-webkit-transition-timing-function : ease-in;
		-moz-transition-timing-function    : ease-in;
		transition-timing-function         : ease-in;
		opacity                            : 0;
	}
	
	40% {
		-webkit-transform                  : perspective(400px) rotate3d(0, 1, 0, -40deg);
		-moz-transform                     : perspective(400px) rotate3d(0, 1, 0, -40deg);
		transform                          : perspective(400px) rotate3d(0, 1, 0, -40deg);
		-webkit-transition-timing-function : ease-in;
		-moz-transition-timing-function    : ease-in;
		transition-timing-function         : ease-in;
	}
	
	60% {
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, 10deg);
		-moz-transform    : perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity           : 1;
	}
	
	80% {
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, -5deg);
		-moz-transform    : perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	
	100% {
		-webkit-transform : perspective(400px);
		-moz-transform    : perspective(400px);
		transform         : perspective(400px);
	}
}

@keyframes flipInY {
	0% {
		-webkit-transform                  : perspective(400px) rotate3d(0, 1, 0, 180deg);
		-moz-transform                     : perspective(400px) rotate3d(0, 1, 0, 180deg);
		transform                          : perspective(400px) rotate3d(0, 1, 0, 180deg);
		-webkit-transition-timing-function : ease-in;
		-moz-transition-timing-function    : ease-in;
		transition-timing-function         : ease-in;
		opacity                            : 0;
	}

	40% {
		-webkit-transform                  : perspective(400px) rotate3d(0, 1, 0, -40deg);
		-moz-transform                     : perspective(400px) rotate3d(0, 1, 0, -40deg);
		transform                          : perspective(400px) rotate3d(0, 1, 0, -40deg);
		-webkit-transition-timing-function : ease-in;
		-moz-transition-timing-function    : ease-in;
		transition-timing-function         : ease-in;
	}

	60% {
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, 10deg);
		-moz-transform    : perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity           : 1;
	}

	80% {
		-webkit-transform : perspective(400px) rotate3d(0, 1, 0, -5deg);
		-moz-transform    : perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform         : perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	100% {
		-webkit-transform : perspective(400px);
		-moz-transform    : perspective(400px);
		transform         : perspective(400px);
	}
}

.flipInY {
	-webkit-backface-visibility : visible !important;
	-moz-backface-visibility    : visible !important;
	backface-visibility         : visible !important;
	-webkit-animation-name      : flipInY;
	-moz-animation-name         : flipInY;
	animation-name              : flipInY;
}