<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<!--#include file="../../Views/Shared/_Meta.html" -->
	<title>消一波！奴曆七月業障重</title>
	<!--#include file="../../Views/Shared/_GlobalLink.html" -->
	<link rel="stylesheet" type="text/css" href="../../Content/css/game.css?css=20180813" />
</head>
<body>
	<div class="l-body">
		<main class="l-main">
			<div class="l-content b-text-center">
				<h2 class="page-title">依照指示跟著步驟畫符<br>消災解厄，化解一切業障</h2>
				<div class="draw-area">
					<div class="demo jQ-selection" data-selection="">
						<div class="hint">
							<i class="pointer"></i>
							<span class="wording">請預備好<br>畫符手勢</span>
						</div>
					</div>
					<canvas id="canvas" width="614" height="614"></canvas>
				</div>
				<button class="btn-link jQ-finish" data-url="">
					<em class="b-text-hide">化解完成</em>
				</button>
			</div>
			<div class="l-lightbox b-text-center">
				<div class="m-lightbox">
					<h3 class="box-title">
						<em class="main-desc b-block">天靈靈 地靈靈</em>
						<span class="sub-desc b-block">冤親債主LINE不停</span>
					</h3>
					<p class="box-desc">施主業障重，趕快來畫符<br>解厄消災一下吧！</p>
					<i class="taoist"></i>
					<button class="btn-close jQ-close"><em class="text">我知道了</em></button>
				</div>
			</div>
		</main>
	</div>
	<!--#include file="../../Views/Shared/_Not-Support.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsFt.html" -->
	<script defer src="../../Scripts/plugin/createjs/easeljs-0.8.2.min.js"></script>
	<script defer src="../../Scripts/js/game.js?js=20180813"></script>
</body>
</html>