<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<!--#include file="../../Views/Shared/_Meta.html" -->
	<title>消一波！奴曆七月業障重</title>
	<!--#include file="../../Views/Shared/_GlobalLink.html" -->
	<link rel="stylesheet" type="text/css" href="../../Content/css/index.css?css=20180813" />
</head>
<body>
	<div class="l-body" data-play="">
		<main class="l-main">
			<div class="l-content b-text-center">
				<div class="main-view">
					<h1 class="neon-title">
						<em class="b-hide-text">奴曆七月</em>
						<ul class="wording">
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
						</ul>
					</h1>
					<h2 class="sub-title">
						<em class="b-hide-text">人在辦公室 94業障重</em>
						<ul class="wording">
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
						</ul>
					</h2>
					<div class="charm">
						<em class="b-hide-text">業障符</em>
						<ul class="wording">
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
							<li class="word b-inline"></li>
						</ul>
						<i class="flower"></i>
						<i class="flower"></i>
					</div>
					<i class="logo"></i>
					<div class="lady">
						<i class="hair"></i>
						<i class="head"></i>
						<i class="face"></i>
						<i class="neck"></i>
					</div>
					<div class="man">
						<i class="neck"></i>
						<i class="hair"></i>
						<i class="head"></i>
						<i class="face"></i>
					</div>
					<div class="deco">
						<i class="star"></i>
						<i class="star"></i>
						<i class="star"></i>
						<i class="circle"></i>
						<i class="circle"></i>
						<i class="circle"></i>
						<i class="circle"></i>
						<i class="circle"></i>
						<i class="circle"></i>
						<i class="ghost"></i>
						<i class="moon"></i>
						<i class="meteor"></i>
						<i class="meteorite"></i>
						<i class="plane"></i>
						<i class="wifi"></i>
						<i class="bat"></i>
					</div>
					<i class="light"></i>
				</div>
				<button class="btn-link b-block jQ-select">
					<em class="b-text-hide">消業障保健康</em>
					<i class="eye"></i>
					<i class="pointer"></i>
					<ul class="wording">
						<li class="word b-inline"></li>
						<li class="word b-inline"></li>
						<li class="word b-inline"></li>
						<li class="word b-inline"></li>
						<li class="word b-inline"></li>
						<li class="word b-inline"></li>
					</ul>
				</button>
				<small class="copyright b-hide-text">SUGARFUN 2018 copyrightⒸ</small>
				<i class="wire"></i>
			</div>
			<div class="l-lightbox">
				<div class="m-lightbox">
					<button class="btn-close jQ-close"></button>
					<ul class="link-list">
						<li class="list b-inline"><a href="game.html#talk" class="btn-link b-text-center"><em class="text">只會講幹話</em></a></li>
						<li class="list b-inline"><a href="game.html#money" class="btn-link b-text-center"><em class="text">請款請半年</em></a></li>
						<li class="list b-inline"><a href="game.html#tired" class="btn-link b-text-center"><em class="text">過勞我專業</em></a></li>
						<li class="list b-inline"><a href="game.html#eat" class="btn-link b-text-center"><em class="text">吃飯自己吃</em></a></li>
						<li class="list b-inline"><a href="game.html#travel" class="btn-link b-text-center"><em class="text">沒錢去旅行</em></a></li>
						<li class="list b-inline"><a href="game.html#idea" class="btn-link b-text-center"><em class="text">提案先修班</em></a></li>
						<li class="list b-inline"><a href="game.html#off" class="btn-link b-text-center"><em class="text">客戶不下班</em></a></li>
						<li class="list b-inline"><a href="game.html#brain" class="btn-link b-text-center"><em class="text">賣老不用腦</em></a></li>
						<li class="list b-inline"><a href="game.html#bug" class="btn-link b-text-center"><em class="text">電腦不乖乖</em></a></li>
						<li class="list b-inline"><a href="game.html#boss" class="btn-link b-text-center"><em class="text">電梯遇老闆</em></a></li>
					</ul>
				</div>
			</div>
		</main>
	</div>
	<!--#include file="../../Views/Shared/_Not-Support.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsFt.html" -->
	<script defer src="../../Scripts/js/index.js?js=20180813"></script>
</body>
</html>