<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<!--#include file="../../Views/Shared/_Meta.html" -->
	<title>當個活活潑潑的好學生，做個堂堂正正的社畜人</title>
	<!--#include file="../../Views/Shared/_GlobalLink.html" -->
	<!-- self link begin -->
	<link rel="stylesheet" href="../../Content/css/index.css?css=20190107">
	<link rel="canonical" href="">
	<!-- self link end -->
	<!-- self link end -->
</head>
<body>
	<div class="l-bd">
		<div class="l-hd">
			<header class="m-hd b-fw-b b-fx-r b-ai-fe b-jc-fs">
				<button class="btn-menu jQ-menu">
					<em class="txt b-h-t">MENU</em>
				</button>
				<nav class="link-wrap b-fx-c b-jc-c b-ai-c b-fw-b">
					<h5 class="hint b-c-bg">
						<svg class="svg-icon heart b-d-i"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#heart"/></svg>
						<span class="txt b-d-i">溫馨小提醒</span>
						<svg class="svg-icon heart b-d-i"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#heart"/></svg>
					</h5>
					<span class="main-msg b-d-i b-c-wh">點這裡沒有加薪。</span>
					<svg class="svg-icon arrow"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#arrow"/></svg>
					<svg class="svg-icon sweat"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#sweat"/></svg>
				</nav>
			</header>
		</div>
		<div class="l-m">
			<div class="l-c">
				<div class="main-wrap b-fx-c b-ai-c b-jc-fe">
					<a href="Game.html" class="btn-link">
						<span class="b-h-t">等什麼？等加薪？</span>
						<svg class="svg-icon index-btn"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#btn-bg-lg"/></svg>
						<svg class="svg-icon btn-txt"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#btn-txt"/></svg>
						<svg class="svg-icon pointer"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#pointer"/></svg>
					</a>
					<div class="wording b-fx-c b-ai-fs b-jc-c">
						<em class="slogan-txt b-fw-b">一日為畜，終身為畜？<br>社畜自救大會，開始！</em>
						<svg class="svg-icon dialog"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#dialog"/></svg>
					</div>
					<i class="role-wrap boss">
						<svg class="svg-icon shadow"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#bg-shadow"/></svg>
						<svg class="svg-icon"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#boss"/></svg>
					</i>
					<i class="role-wrap client">
						<svg class="svg-icon shadow"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#bg-shadow"/></svg>
						<svg class="svg-icon"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#client"/></svg>
					</i>
					<svg class="svg-icon arrow"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#arrow"/></svg>
					<i class="clip-wrap">
						<svg class="svg-icon Miguel-bd"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#Miguel-bd"/></svg>
					</i>
					<svg class="svg-icon Miguel-ra"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#Miguel-ra"/></svg>
					<svg class="svg-icon Miguel-la"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#Miguel-la"/></svg>
				</div>
				<div class="main-view b-bg-bk">
					<div class="border-wrap b-bg-bg">
						<h1 class="title-wrap">
							<span class="b-h-t">社畜自救指南</span>
							<svg class="svg-icon main-title"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#main-title"/></svg>
						</h1>
						<h2 class="title-wrap">
							<span class="b-h-t">當個活活潑潑的好學生 做個堂堂正正的社畜人</span>
							<svg class="svg-icon sub-title"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#sub-title"/></svg>
						</h2>
						<svg class="svg-icon track"><use xlink:href="../../Content/svg/icon-idx.svg?svg=20190107#track"/></svg>
						<i class="speed-line"></i>
					</div>
				</div>
				<div class="sub-wrap b-bg-bk">
					<div class="border-wrap b-bg-bg">
						<i class="speed-line"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- ==================== l-footer begin ==================== -->
		<!--#include file="../../Views/Shared/_Footer.html" -->
		<!-- ==================== l-footer end ==================== -->
	</div>
	<!-- ==================== not support begin ==================== -->
	<!--#include file="../../Views/Shared/_Not-Support.html" -->
	<!-- ==================== not support end ==================== -->
	<!--#include file="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!-- common script ft begin -->
	<!--#include file="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsFt.html" -->
	<!-- common script ft end -->
	<!-- self script begin -->
	<!-- <script defer src="../../Scripts/js/index.js?js=20190107"></script> -->
	<!-- self script end -->
</body>
</html>