<div class="l-not-support">
    <div class="m-not-support b-text-center">
        <div class="m-not-support-content">
            <div class="m-not-support-hd">
                <p class="m-not-support-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
                <p class="m-not-support-desc">建議您升級瀏覽器，以利瀏覽此網站的所有內容，謝謝您的配合。</p>
            </div>
            <div class="m-not-support-bd">
                <ul>
                    <li>
                        <a href="https://www.google.com.tw/chrome/browser/desktop/">
                            <span class="m-not-support-figure">
                                <img src="../../Content/img/not-support/chrome.png?img=20180322" alt="Google Chrome">
                            </span>
                            <p class="m-not-support-desc">Google Chrome</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/zh-TW/firefox/new/">
                            <span class="m-not-support-figure">
                                <img src="../../Content/img/not-support/firefox.png?img=20180322" alt="Mozilla Firefox">
                            </span>
                            <p class="m-not-support-desc">Mozilla Firefox</p>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">
                            <span class="m-not-support-figure">
                                <img src="../../Content/img/not-support/ie.png?img=20180322" alt="Internet Explorer">
                            </span>
                            <p class="m-not-support-desc">Internet Explorer</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/zh_TW/downloads/safari">
                            <span class="m-not-support-figure">
                                <img src="../../Content/img/not-support/safari.png?img=20180322" alt="Safari">
                            </span>
                            <p class="m-not-support-desc">Safari</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="m-not-support-ft">
                <div class="m-not-support-copyright">
                    <p class="m-not-support-info"><em>© 2018 All Rights Reserved 3M台灣明尼蘇達礦業製造股份有限公司</em></p>
                    <p class="m-not-support-browers">建議瀏覽器：IE10+, Chrome, Safari, Firefox</p>
                </div>
            </div>
        </div>
    </div>
</div>