.index-kv .ani-showUp {
    will-change: property;
    animation: showUp 1s ease-in-out forwards;
    --tw-translate-y: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
  }
  .index-kv *:nth-child(1) > .ani-showUp {
      animation-delay: 0.1s !important
    }
  .index-kv *:nth-child(2) > .ani-showUp {
      animation-delay: 0.2s !important
    }
  .index-kv *:nth-child(3) > .ani-showUp {
      animation-delay: 0.3s !important
    }
  .index-kv *:nth-child(4) > .ani-showUp {
      animation-delay: 0.4s !important
    }
  .index-kv *:nth-child(5) > .ani-showUp {
      animation-delay: 0.5s !important
    }

.ani-rotating {
  animation: rotating 60s linear infinite;
}

.kv-ball-1 {
  filter: drop-shadow(4.8975rem 9.795rem 3.42813rem #b47f84);
}

.kv-ball-2 {
  filter: drop-shadow(3.62563rem 7.25125rem 2.53813rem #b47f84) drop-shadow(0px 0px 1.0875rem #FFFFFF);
  animation-delay: -1.5s !important
}

.kv-ball-3 {
  filter: blur(0.375rem) drop-shadow(3.645rem 5.83188rem 5.83188rem #b47f84);
}

.kv-ball-4 {
  filter: blur(0.375rem);
}

.kv-ball-5 {
  filter: drop-shadow(5.69125rem 11.3825rem 3.98375rem #b47f84);
}

.kv-ball-6 {
  filter: drop-shadow(0px 0px 3.725rem #FFFFFF);
}

.kv-ball-7 {
  filter: blur(0.5rem);
}

@keyframes rotating {
  0 {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes showUp {
  0 {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.index-guide .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.index-guide .gradient-ico {
    background: radial-gradient(109.11% 109.11% at 89.83% 12.5%, rgba(255, 121, 134, 0) 7.56%, #FF7986 100%);
    box-shadow: 2.1875rem 2.8125rem 3.125rem 0px #FF354E1A;
  }

.guide-ball-1 {
  filter: blur(0.375rem)
}

.guide-ball-2 {
  filter: drop-shadow(6.35313rem 12.70563rem 4.44688rem #b47f84) drop-shadow(0px 0px 1.875rem #FFFFFF);
}

.index-thoughtful .swiper {
    overflow: visible;
}

.index-thoughtful .swiper[data-idx="1"] .text-begin, .index-thoughtful .swiper[data-idx="5"] .text-end {
    --tw-text-opacity: 1;
    color: rgb(250 29 56 / var(--tw-text-opacity, 1));
}

.index-thoughtful .swiper-ctrl {
    --tw-text-opacity: 1;
    color: rgb(255 228 228 / var(--tw-text-opacity, 1));
}

.index-thoughtful .swiper-pagination {
    position: relative;
    top: auto !important;
    bottom: auto !important;
    width: auto !important;
}

.index-thoughtful .swiper-slide-active .phone-area, .index-thoughtful .swiper-slide-active .text-area {
      transform: translateY(0%)
    }

.index-thoughtful .swiper-slide-active .ico-wrap, .index-thoughtful .swiper-slide-active .highlight-area {
      transform: scale(100%) translateX(-50%)
    }

.ico-wrap {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 17.01%, #FFFFFF 81.86%);
  box-shadow: 4.375rem 6.25rem 3.125rem #9C161E14, 0px 0px 1.875rem #FFFFFF;
}

.tho-ball-1 {
  filter: drop-shadow(6.25rem 12.5rem 1.25rem #f9f2f3);
}

.tho-ball-2 {
  filter: blur(0.3125rem);
}

.tho-ball-3 {
  filter: drop-shadow(1.07375rem 2.14688rem 0.75125rem #9C161E0F);
}

.index-video .index-section {
    box-shadow: 0px 1.875rem 3.75rem 0px #9C161E1A;
    backdrop-filter: blur(1.25rem);
  }

.index-video .bg-text {
    background: linear-gradient(180deg, rgba(255, 231, 233, 0.147) 29.26%, rgba(255, 190, 196, 0.35) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translateX(0);
    animation: marquee 20s linear infinite;
  }

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.index-intro .index-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 12.1%);
    box-shadow: 0px 1.875rem 3.75rem 0px #9C161E1A;
    backdrop-filter: blur(1.25rem);
  }

.index-intro .m-accordion {
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(255 228 228 / var(--tw-border-opacity, 1));
}

.index-intro .m-accordion.active .m-accordion-header {
    --tw-text-opacity: 1;
    color: rgb(250 29 56 / var(--tw-text-opacity, 1));
}

.index-intro .m-accordion.active .btn-switch .fake-btn {
    pointer-events: none;
    opacity: 0;
}

.index-intro .m-accordion.active .m-accordion-body {
    max-height: 62.4375rem;
}

.index-intro .has-dotted::before {
    background: radial-gradient(109.11% 109.11% at 89.83% 12.5%, rgba(255, 121, 134, 0) 7.56%, #FF7986 100%);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 624.9375rem;
    --tw-content: '';
    content: var(--tw-content);
  }

.index-intro .img-wrap {
    background: radial-gradient(247.13% 259.56% at 53.54% 104%, #FFC7CD 0%, #FFFCFD 100%);
  }

.index-intro .img-wrap figure {
    opacity: 0;
}

.index-intro .img-wrap[data-idx="1"] figure:nth-child(1) {
    opacity: 1;
}

.index-intro .img-wrap[data-idx="2"] figure:nth-child(2) {
    opacity: 1;
}

.index-intro .img-wrap[data-idx="3"] figure:nth-child(3) {
    opacity: 1;
}

.intro-ball-1 {
  filter: drop-shadow(6.47063rem 12.94125rem 4.52938rem #9C161E) drop-shadow(0px 0px 1.94125rem #FFFFFF);
}

.intro-ball-2 {
  filter: drop-shadow(3.265rem 6.52938rem 2.285rem #b47f84) drop-shadow(0px 0px 0.97938rem #FFFFFF);
}

.intro-ball-3 {
  filter: drop-shadow(4.72875rem 7.56625rem 7.56625rem #b47f84) drop-shadow(0px 0px 4.72938rem #FFFFFF) blur(0.375rem)
}

.index-experience.run-ani .ani-ball i {
      animation: shinning 3s infinite ease-in-out forwards
    }

.index-experience.run-ani .ani-showUp {
      animation: showUp 1s ease-in-out forwards;
    }

.index-experience .index-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 12.1%);
    box-shadow: 0px 1.875rem 3.75rem 0px #9C161E1A;
    backdrop-filter: blur(1.25rem);
  }

.index-experience .ani-ball {
    transform: rotate(30deg) translateX(-50%);
    transform-origin: center left;
  }

.index-experience .ani-ball i:first-child {
      background: radial-gradient(109.11% 109.11% at 89.83% 12.5%, rgba(255, 121, 134, 0) 7.56%, rgba(255, 121, 134, 0.1) 100%);
      animation-delay: .6s !important;
      will-change: property;
    }

.index-experience .ani-ball i:nth-child(2) {
      background: radial-gradient(109.11% 109.11% at 89.83% 12.5%, rgba(255, 121, 134, 0) 7.56%, rgba(255, 121, 134, 0.2) 100%);
      box-shadow: 2.1875rem 2.8125rem 3.125rem 0px #FF354E1A;
      animation-delay: .3s !important;
      will-change: property;
    }

.index-experience .ani-ball i:last-child {
      background: radial-gradient(117.98% 93.11% at 79.02% 6.5%, rgba(255, 121, 134, 0) 0%, rgba(255, 121, 134, 0.18) 50.34%, rgba(255, 72, 90, 0.4) 89.38%);
      box-shadow: 2.1875rem 2.8125rem 3.125rem 0px #FF354E1A;
      will-change: property;
    }

.index-experience .ani-showUp {
    will-change: property;
    --tw-translate-y: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
  }

.index-experience .ani-showUp:nth-child(2){
        animation-delay: 0.6s !important
      }

.index-experience .ani-showUp:nth-child(3){
        animation-delay: 0.9s !important
      }

.index-experience .ani-showUp:nth-child(4){
        animation-delay: 1.2s !important
      }

.qrcode-wrap {
  box-shadow: 0px 1.1625rem 2.32438rem 0px #9C161E1A, 0px 0px 1.875rem 0px #FFFFFFCC inset;
  backdrop-filter: blur(1.875rem)
}

.exp-ball-1 {
  filter: drop-shadow(2.3125rem 4.625rem 0.625rem #f9f2f3);
}

.exp-ball-2 {
  filter: blur(0.625rem) drop-shadow(2.3125rem 4.625rem 0.625rem #f9f2f3);
}

@keyframes shinning {
  0, 80%, 100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.index-qa .m-accordion {
  backdrop-filter: blur(1.875rem);
  box-shadow: 0px 1.1625rem 2.32438rem 0px #9C161E1A, 0px 0px 1.875rem 0px #FFFFFFCC inset;
  border-width: 0.125rem;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.index-qa .m-accordion:not(.active) {
    --tw-bg-opacity: 0.4;
}

.index-qa .m-accordion.active .m-accordion-header {
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(255 228 228 / var(--tw-border-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(250 29 56 / var(--tw-text-opacity, 1));
}

.index-qa .m-accordion.active .m-accordion-body {
    max-height: 62.4375rem;
}

.index-qa .m-accordion .m-accordion-body {
    max-height: 0px;
}

.index-qa .m-accordion .m-accordion-body .m-accordion-content {
    letter-spacing: 0.05em;
}

.qa-ball-1 {
  filter: drop-shadow(0px 0px 1.5625rem #FFFFFF) blur(0.375rem)
}

.qa-ball-2 {
  filter: drop-shadow(7.58813rem 15.17625rem 5.31188rem #b47f84) drop-shadow(0px 0px 2.25rem #FFFFFF)
}

.main-bg {
  background: linear-gradient(180deg, #FFFAFB 29.31%, #FFBEC4 77.68%);
}

.main-bg::after {
    position: absolute;
    left: 50%;
    z-index: 0;
    transform-origin: bottom;
    border-top-left-radius: 624.9375rem;
    border-top-right-radius: 624.9375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    --tw-content: '';
    content: var(--tw-content);
}

.video-bg::before, .video-bg::after {
    position: absolute;
    --tw-content: '';
    content: var(--tw-content);
}

.video-bg::after {
    background: linear-gradient(180.92deg, #FFECED 0.58%, #FFA4AD 99%);
    left: 0px;
    right: 0px;
    z-index: 1;
  }

.sub-bg {
  background: linear-gradient(180deg, #FFFAFB 33.51%, #FFBEC4 134.03%);
}

.index-title {
  text-shadow: 0px 0px 15px 0px #FFFFFF;
}

.ani-floating {
  animation: floating 3s ease-in-out infinite forwards;
}

.swiper-wrapper {
    height: auto;
    width: auto;
}

.swiper-pagination-bullet {
    margin-left: 0.375rem !important;
    margin-right: 0.375rem !important;
    height: 0.375rem;
    width: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 228 228 / var(--tw-bg-opacity, 1));
    opacity: 1;
}

.swiper-pagination-bullet-active {
    --tw-bg-opacity: 1;
    background-color: rgb(250 29 56 / var(--tw-bg-opacity, 1));
}

.swiper-button-prev, .swiper-button-next {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 624.9375rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(255 228 228 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(250 29 56 / var(--tw-text-opacity, 1));
    opacity: 1;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    display: none;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 0.875rem;
    font-weight: 700;
}

@keyframes floating {
  0, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
}

@media screen and (min-width:1280px) and (max-width: 1419px) {
  .index-intro .index-section {
        width: 75rem;
    }
  .index-experience .index-section {
        width: 75rem;
    }
}

@media screen and (min-width:1025px) and (max-width: 1419px) {
  .highlight-2 {
        right: -1.25rem;
    }

  .highlight-5 {
        left: -1.25rem;
    }
}

@media screen and (min-width: 1420px) {
  .highlight-2 {
        left: 50%;
        margin-left: 31.625rem;
    }

  .highlight-5 {
        right: 50%;
        margin-right: 30.25rem;
    }
  .index-intro .index-section {
        width: 100%;
    }
  @media (min-width: 1681px) {
        .index-intro .index-section {
            width: 1700Px;
        }
    }
  .index-experience .index-section {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .index-guide .swiper-button-prev {
        left: -3.625rem;
    }

    .index-guide .swiper-button-next {
        right: -3.625rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .index-guide .swiper-button-prev {
        left: 0px;
    }

    .index-guide .swiper-button-next {
        right: 0px;
    }
}

@media (min-width: 768px) and (min-height: 428px) {
    .index-intro .m-accordion {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .index-intro .m-accordion.active .m-accordion-header {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .index-intro .m-accordion-header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .index-intro .m-accordion-body {
        max-height: 0px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .index-qa .m-accordion .m-accordion-header h4 p {
        margin-left: 1.25rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (min-height: 428px), (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .index-guide .swiper-slide {
        padding-bottom: 7.375rem;
    }
    .index-guide .swiper-button-prev, .index-guide .swiper-button-next {
        top: 16.25rem;
    }
    .index-intro .m-accordion {
        min-height: 5.3125rem;
    }
}

@media (min-width: 1681px) {
    .index-intro .index-section {
        width: 1700Px;
    }
}

@media (min-width: 1420px) {
  .index-intro, .index-experience {
        padding-left: 6.875rem;
        padding-right: 6.875rem;
    }
}

@media (min-width: 1025px) {
    .index-guide .swiper-slide.swiper-slide-next {
        padding-top: 3.625rem;
        padding-bottom: 3.75rem;
    }
    .index-guide .swiper-slide:not(.swiper-slide-next) {
        padding-bottom: 7.375rem;
    }
    .index-guide .swiper-button-prev, .index-guide .swiper-button-next {
        top: 17.8125rem;
    }
  .ico-wrap {
    box-shadow: 4.375rem 6.25rem 3.125rem #9C161E14, 0px 0px 1.875rem #FFFFFF;
  }
    .gsap-item .ico-wrap {
      transform: scale(0%)
    }

    .gsap-item .phone-area {
      opacity: 0;
      transform: translateY(10%)
    }

    .gsap-item .text-area {
      opacity: 0;
      transform: translateY(50%)
    }

    .gsap-item .ico-wrap, .gsap-item .highlight-area {
      transform: scale(0%)
    }

    .gsap-item .hint-dot {
      opacity: 0;
    }
      .gsap-item.active .phone-area, .gsap-item.active .text-area {
        opacity: 1;
        transform: translateY(0%)
      }

      .gsap-item.active .hint-dot {
        opacity: 1;
      }

      .gsap-item.active .ico-wrap, .gsap-item.active .highlight-area {
        transform: scale(100%)
      }

      .index-intro .m-accordion {
        min-height: 6.5rem;
    }

      .index-intro .m-accordion-header h4 {
        font-size: 2rem;
    }

      .index-qa .m-accordion {
        margin-top: 1.75rem;
        border-radius: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

      .index-qa .m-accordion.active .m-accordion-header {
        margin-top: 1.25rem;
    }

      .index-qa .m-accordion .m-accordion-header .btn-switch {
        min-height: 6.25rem;
    }

      .index-qa .m-accordion .m-accordion-header h4 {
        font-size: 1.5rem;
    }

      .index-qa .m-accordion .m-accordion-body .m-accordion-content {
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
        font-size: 1.125rem;
    }

      .main-bg::after {
        bottom: -1.25rem;
        height: 105.1dvw;
        width: 105.1dvw;
    }

      .video-bg::after {
        bottom: -14rem;
        height: 43.75rem;
    }
  .main-bg::after {
    transform: scaleY(.1135) translateX(-50%);
  }
}

@media (max-width: 999px) and (max-height: 428px) and (orientation: landscape), (max-width: 767px) {
    .index-guide .swiper-button-prev, .index-guide .swiper-button-next {
        top: 7.25rem;
    }
    .index-guide .swiper-button-prev {
        left: 0px;
    }
    .index-guide .swiper-button-next {
        right: 0px;
    }
    .index-thoughtful .swiper-button-prev, .index-thoughtful .swiper-button-next {
        top: 13.75rem;
    }
    .index-intro li:not(:first-child) {
        margin-top: 1.125rem;
    }
    .index-intro li:last-child .m-accordion {
        border-bottom-width: 0px;
    }
    .index-intro .m-accordion {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .index-intro .m-accordion-header {
        --tw-text-opacity: 1;
        color: rgb(250 29 56 / var(--tw-text-opacity, 1));
    }
    .index-intro .btn-switch {
        display: none;
    }
    .index-qa .m-accordion .m-accordion-header h4 {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .index-guide .swiper-button-prev, .index-guide .swiper-button-next {
        margin-top: 0px;
    }
  .index-guide .gradient-ico {
    box-shadow: 1.64063rem 2.10938rem 2.34375rem 0px #FF354E1A;
  }
    .index-thoughtful .swiper-slide {
        opacity: 0 !important;
    }

      .index-thoughtful .swiper-slide.swiper-slide-active {
        opacity: 1 !important;
    }

    .index-thoughtful .swiper-slide-active .highlight-area {
      transform: scale(100%) translateX(-50%)
    }

  .ico-wrap {
    box-shadow: 2.55688rem 3.6525rem 1.82625rem #9C161E14, 0px 0px 1.09563rem #FFFFFF;
    transform: scale(0%)
  }

  .phone-area {
    transform: translateY(10%)
  }

  .text-area {
    transform: translateY(100%)
  }

  .highlight-area {
    transform: scale(0%) translateX(-50%);
    transform-origin: left;
  }

  .index-intro .m-accordion-header h4 {
        flex-direction: column;
        font-size: 1.5rem;
    }

  .index-qa .m-accordion {
        margin-top: 1.25rem;
        border-radius: 1.25rem;
        padding: 1.25rem;
    }

  .index-qa .m-accordion.active .m-accordion-header {
        padding-bottom: 0.75rem;
    }

  .index-qa .m-accordion .m-accordion-header h4 {
        font-size: 1.125rem;
    }

  .index-qa .m-accordion .m-accordion-body .m-accordion-content {
        margin-top: 0.75rem;
    }

  .main-bg::after {
        bottom: -10rem;
        height: 154.13dvw;
        width: 154.13dvw;
    }

  .video-bg::after {
        bottom: -5.625rem;
        height: 35.4375rem;
    }
  .main-bg::after {
    transform: scaleY(.4) translateX(-50%);
  }
}

/*# sourceMappingURL=index.css.map?d2000572*/