<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta property="og:title" content="消一波！奴曆七月業障重" />
<meta property="og:description" name="description" content="重磅打造！千錘百鍊！老闆幹話多，辦公業障重，還不來怒消一波" />
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://karma.sugarfun.com.tw" />
<meta property="og:image" content="http://f2e.sugarfun.com.tw/karma/Content/img/shared/fb-share.jpg?img=20180813"/>
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="消一波！奴曆七月業障重"/>