<!DOCTYPE html>
<html lang="tw">
<head>
	<!--#include file="../../Views/Shared/_Meta.html" -->
	<title>給我一個賴床理由</title>
	<!--#include file="../../Views/Shared/_GlobalLink.html" -->
	<!-- self link begin -->
	<link rel="stylesheet" type="text/css" href="../../Content/css/product.css?css=20180322" />
	<!-- self link end -->
</head>
<body>
	<div class="l-body" data-page="product">
		<!-- ==================== l-header begin ==================== -->
		<!--#include file="../../Views/Shared/_Header.html" -->
		<!-- ==================== l-header end ==================== -->
		<main class="l-main">
			<div class="l-content">
				<section class="main-content">
					<div class="main-cut" data-elem=".jQ-video" data-media="https://www.youtube.com/watch?v=bsN1Fx-7Gog&autoplay=0&mute=0&vq=hd720">
						<div class="main-info">
							<h1 class="page-title"><em class="b-hide-text">幸福睡眠 涼品質選</em></h1>
							<div class="signature">
								<p class="wording">夏被限量設計師款圖案<br>委由 <b class="b-bold">聶永真</b> 設計</p>
							</div>
						</div>
						<div class="jQ-video" ga_cat="prod" ga_event="click" ga_label="youtube"></div>
					</div>
				</section>
				<section class="gift-content">
					<div class="gift-info">
						<div class="wording-wrap">
							<h3 class="gift-title b-text-center-xs">
								<em class="b-hide-text">獨家預購禮！</em>
								<ul class="flip-card b-inline">
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
								</ul>
							</h3>
							<ul class="gift-detail">
								<li class="list">
									<em class="info-type b-bold">時間：</em>
									<span class="info-value">即日起-5/31</span>
								</li>
								<li class="list">
									<em class="info-type b-bold">活動方式：</em>
									<span class="info-value">凡於活動期間內預購 3M™ 涼夏被組(附枕套)— Mosaic 限量款或Spark 限量款之消費者，即可得到專屬護照夾或行李吊牌一個，數量有限送完為止(活動詳請以各通路實際公告為準)</span>
								</li>
								<li class="list">
									<em class="info-type b-bold">贈品領取方式：</em>
									<span class="info-value">5/10 開始隨正品出貨</span>
								</li>
							</ul>
						</div>
						<figure class="img-wrap gift-photo">
							<img src="../../Content/img/product/gift.png?img=20180322" alt="護照夾 / 行李吊牌">
						</figure>
					</div>
				</section>
				<section class="product-detail">
					<ul class="link-list b-text-center">
						<li class="list b-inline"><a href="product.html#scroll" class="btn-link ga_click_trace" ga_cat="prod" ga_event="click" ga_label="design">設計理念</a></li>
						<li class="list b-inline"><a href="javascript:;" class="btn-link is-curr ga_click_trace" ga_cat="prod" ga_event="click" ga_label="detail">產品特色</a></li>
						<li class="list b-inline"><a href="product-series.html#scroll" class="btn-link ga_click_trace" ga_cat="prod" ga_event="click" ga_label="cold">涼夏被系列</a></li>
					</ul>
					<div class="feature-wrap b-text-center">
						<h2 class="section-title">
							<strong class="main-title b-block">淬鍊完美</strong>
							<em class="sub-title b-block b-bold">好的設計，應該存在於日常之中，<br class="b-hide-dt">為生活中的各式問題提供解決方案，<br>用絕對的敏感繼續對生活有意見。</em>
						</h2>
						<div class="content-wrap">
							<ul class="feature-list">
								<li class="list b-inline b-text-left">
									<div class="desc-wrap">
										<em class="feature-type b-inline">嚴選色彩</em>
										<span class="desc b-block b-bold">還原最純粹的設計面貌</span>
										<img src="../../Content/img/product/features/feature01.png?img=20180322" alt="嚴選色彩">
									</div>
								</li>
								<li class="list b-inline b-text-left">
									<div class="desc-wrap">
										<em class="feature-type b-inline">人工對線</em>
										<span class="desc b-block b-bold">職人之手反覆丈量確保對線齊整</span>
										<img src="../../Content/img/product/features/feature02.png?img=20180322" alt="嚴選色彩">
									</div>
								</li>
								<li class="list b-inline b-text-left">
									<div class="desc-wrap">
										<em class="feature-type b-inline">手工車線</em>
										<span class="desc b-block b-bold">多出180針的細膩手感 重新定義舒適</span>
										<img src="../../Content/img/product/features/feature03.png?img=20180322" alt="嚴選色彩">
									</div>
									<small class="hint b-block">*此處與一般平價棉被織法比較（註：此數字僅為估算    之結果，若實際針數差別非180針，依實際數字為準）</small>
								</li>
								<li class="list b-inline b-text-left">
									<div class="desc-wrap">
										<em class="feature-type b-inline">全心傾注</em>
										<span class="desc b-block b-bold">多出8道工序的堅持</span>
										<img src="../../Content/img/product/features/feature04.png?img=20180322" alt="嚴選色彩">
									</div>
									<small class="hint b-block">*此處與一般平價棉被工序比較（註：此數字僅為估算   之結果，若實際工序差別非8道，則依實際數字為準）</small>
								</li>
							</ul>
						</div>
					</div>
					<div class="feature-wrap">
						<h2 class="section-title b-text-center">
							<strong class="main-title b-block">舒眠首選 3M涼夏被</strong>
							<em class="sub-title b-block">獨家科技涼夏被 透氣抗蟎可水洗</em>
						</h2>
						<div class="content-wrap">
							<header class="feature-hd">
								<h3 class="feature-title">涼感</h3>
								<div class="text-wrap b-text-center-xs">
									<h4 class="feature-slogan b-inline">科技涼感纖維 瞬涼5度</h4>
									<em class="feature-desc b-block">使用親水性纖維，利用其高回潮率調節人體溫溼度，達到瞬間接觸涼感(經紡織綜合研究所測試Qmax>0.14)</em>
								</div>
							</header>
							<div class="feature-bd">
								<ul class="compare-list">
									<li class="list b-text-center">
										<em class="compare-title b-hide-text">快速排汗 乾爽舒適 快速散熱 瞬間涼感</em>
										<span class="compare-img b-inline">
											<img src="../../Content/img/product/features/Cool-Down.png?img=20180322" alt="Cool Down">
										</span>
									</li>
								</ul>
								<div class="text-wrap">
									<div class="detail-box">
										<p class="desc"><b class="b-bold b-block">涼感指標Q-max</b>Q-max：瞬間接觸感溫（Touch Feeling of Warmth or Coolness/q-max），係指人體接觸織物時，皮膚表面瞬間熱量流失的最大值。針織物合格標準需 ≧ 0.13。Q-max 值愈大，表示瞬間涼感愈明顯。</p>
									</div>
								</div>
							</div>
						</div>
						<div class="content-wrap">
							<header class="feature-hd">
								<div class="text-wrap b-text-center-xs">
									<h4 class="feature-slogan"><span class="b-block-xs">酷涼體驗 瞬間涼感不變</span><span class="highlight b-inline">設計款獨有</span></h4>
									<em class="feature-desc b-block"><span class="highlight b-block b-bold">特殊紡絲製程，利用纖維原絲特性，<br class="b-hide-dt">涼感效果不因洗滌而減退。</span>經測試後其熱逸散率優於一般市售涼感(針織)38%、一般聚酯纖維布料97%！</em>
								</div>
							</header>
							<div class="feature-bd">
								<ul class="compare-list b-text-center">
									<li class="list">
										<em class="compare-title b-inline">
											<b class="highlight b-block">VS.</b>
											<strong class="main b-bold b-block">瞬間涼感效能比較</strong>
											<span class="desc b-block">熱逸散數值愈高則涼感效果愈好</span>
										</em>
									</li>
									<li class="list">
										<em class="compare-title b-block b-bold b-text-center b-bold">
											<span class="desc b-block">棉被清洗前</span>
											<span class="hint b-block">瞬間涼感差異</span>
										</em>
										<span class="compare-img b-block">
											<img src="../../Content/img/product/features/compare01.png?img=20180322" alt="棉被清洗前 瞬間涼感差異">
										</span>
									</li>
									<li class="list">
										<em class="compare-title b-block b-bold b-text-center b-bold">
											<span class="desc b-block">棉被清洗20次後</span>
											<span class="hint b-block">瞬間涼感差異</span>
										</em>
										<span class="compare-img b-block">
											<img src="../../Content/img/product/features/compare02.png?img=20180322" alt="棉被清洗20次後 瞬間涼感差異">
										</span>
									</li>
								</ul>
								<span class="announce b-block b-text-center">*本產品宣稱之瞬息涼感及降溫效果係根據財團法人紡織產業綜合研究所測報告（測試方法：FTTS-FA-019-2013/ASTMD7024），涼感效果依個人感受有所不同。</span>
							</div>
						</div>
					</div>
					<div class="feature-wrap">
						<div class="content-wrap">
							<header class="feature-hd">
								<h3 class="feature-title">清透</h3>
								<div class="text-wrap b-text-center-xs">
									<h4 class="feature-slogan">輕薄透氣一夜好眠</h4>
								</div>
							</header>
							<div class="feature-bd">
								<ul class="compare-list">
									<li class="list b-text-center">
										<em class="compare-title b-inline b-bold">相同CLO值下，<br class="b-hide-md">3M科技纖維被重量是蠶絲被的38%</em>
										<span class="compare-img b-inline">
											<img src="../../Content/img/product/features/breathable01.png?img=20180322" alt="相同CLO值下，3M科技纖維被重量是蠶絲被的38%">
										</span>
									</li>
									<li class="list b-text-center">
										<em class="compare-title b-inline b-bold">獨特纖維孔徑，輕盈舒適透氣</em>
										<span class="compare-img b-inline">
											<img src="../../Content/img/product/features/breathable02.png?img=20180322" alt="獨特纖維孔徑，輕盈舒適透氣">
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="feature-wrap">
						<div class="content-wrap">
							<header class="feature-hd b-text-right-md">
								<h3 class="feature-title">可水洗</h3>
								<div class="text-wrap b-text-left b-text-center-xs">
									<h4 class="feature-slogan">耐洗烘乾不糾結</h4>
									<em class="feature-desc">水洗烘乾後的比較實驗結<br class="b-hide-tm">果，結構完整</em>
								</div>
							</header>
							<div class="feature-bd">
								<ul class="compare-list">
									<li class="list b-text-center">
										<em class="compare-title b-hide-text">3M 水洗烘乾後結構完整</em>
										<span class="compare-img b-inline">
											<img src="../../Content/img/product/features/wash01.png?img=20180322" alt="3M 水洗烘乾後結構完整">
										</span>
									</li>
									<li class="list b-text-center">
										<em class="compare-title b-hide-text">他牌纖維 水洗烘乾後結構不完整</em>
										<span class="compare-img b-inline">
											<img src="../../Content/img/product/features/wash02.png?img=20180322" alt="他牌纖維 水洗烘乾後結構不完整">
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="feature-wrap">
						<div class="content-wrap">
							<header class="feature-hd">
								<h3 class="feature-title">蟎不住</h3>
								<div class="text-wrap b-text-center-xs">
									<h4 class="feature-slogan">健康防蟎新生活</h4>
									<em class="feature-desc">科技纖維材料，非塵蟎食物；<br>同時可水洗，能有效抑制塵蟎生長</em>
								</div>
							</header>
							<div class="feature-bd">
								<ul class="compare-list">
									<li class="list b-text-center">
										<em class="compare-title b-bold b-block">三星期黴菌培養後</em>
										<span class="compare-img b-inline">
											<img src="../../Content/img/product/features/mites.png?img=20180322" alt="三星期黴菌培養後">
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="feature-wrap">
						<div class="content-wrap">
							<header class="feature-hd">
								<h3 class="feature-title">安心</h3>
								<div class="text-wrap b-text-center-xs">
									<h4 class="feature-slogan">安全認證好放心</h4>
									<em class="feature-desc">通過國際安全認證，100% Chemical-Free!</em>
								</div>
							</header>
							<div class="feature-bd">
								<ul class="certificate-list">
									<li class="list"><em class="b-hide-text">通過Intertek檢測 符合CNS15290/CNS11820國家標準，不含可遷移螢光物質，游離甲醛等有害物質</em></li>
									<li class="list"><em class="b-hide-text">通過SGS檢測 符合REACH標準不含歐盟公告SVHC高度關注物質</em></li>
									<li class="list"><em class="b-hide-text">CONFIDENCE IN TEXTILES</em></li>
									<li class="list"><em class="b-hide-text">符合CNS15290紡織品安全規範</em></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<!-- ==================== l-footer begin ==================== -->
		<!--#include file="../../Views/Shared/_Footer.html" -->
		<!-- ==================== l-footer end ==================== -->
	</div>
	<!-- ==================== not support begin ==================== -->
	<!--#include file="../../Views/Shared/_Not-Support.html" -->
	<!-- ==================== not support end ==================== -->
	<!--#include file="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!--[if gt IE 9]><!-->
	<!-- common script ft begin -->
	<!--#include file="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsFt.html" -->
	<!-- common script ft end -->
	<!-- self script begin -->
	<script defer type="text/javascript" src="../../Scripts/js/product.min.js?js=20180322"></script>
	<!-- self script end -->
	<!--<![endif]-->
</body>
</html>