<!DOCTYPE html>
<html lang="tw">
<head>
	<!--#include file="../../Views/Shared/_Meta.html" -->
	<title>給我一個賴床理由</title>
	<!--#include file="../../Views/Shared/_GlobalLink.html" -->
	<!-- self link begin -->
	<link rel="stylesheet" type="text/css" href="../../Content/css/product.css?css=20180322" />
	<!-- self link end -->
</head>
<body>
	<div class="l-body" data-page="product">
		<!-- ==================== l-header begin ==================== -->
		<!--#include file="../../Views/Shared/_Header.html" -->
		<!-- ==================== l-header end ==================== -->
		<main class="l-main">
			<div class="l-content">
				<section class="main-content">
					<div class="main-cut" data-elem=".jQ-video" data-media="https://www.youtube.com/watch?v=bsN1Fx-7Gog&autoplay=0&mute=0&vq=hd720">
						<div class="main-info">
							<h1 class="page-title"><em class="b-hide-text">幸福睡眠 涼品質選</em></h1>
							<div class="signature">
								<p class="wording">夏被限量設計師款圖案<br>委由 <b class="b-bold">聶永真</b> 設計</p>
							</div>
						</div>
						<div class="jQ-video" ga_cat="prod" ga_event="click" ga_label="youtube"></div>
					</div>
				</section>
				<section class="gift-content">
					<div class="gift-info">
						<div class="wording-wrap">
							<h3 class="gift-title b-text-center-xs">
								<em class="b-hide-text">獨家預購禮！</em>
								<ul class="flip-card b-inline">
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
								</ul>
							</h3>
							<ul class="gift-detail">
								<li class="list">
									<em class="info-type b-bold">時間：</em>
									<span class="info-value">即日起-5/31</span>
								</li>
								<li class="list">
									<em class="info-type b-bold">活動方式：</em>
									<span class="info-value">凡於活動期間內預購 3M™ 涼夏被組(附枕套)— Mosaic 限量款或Spark 限量款之消費者，即可得到專屬護照夾或行李吊牌一個，數量有限送完為止(活動詳請以各通路實際公告為準)</span>
								</li>
								<li class="list">
									<em class="info-type b-bold">贈品領取方式：</em>
									<span class="info-value">5/10 開始隨正品出貨</span>
								</li>
							</ul>
						</div>
						<figure class="img-wrap gift-photo">
							<img src="../../Content/img/product/gift.png?img=20180322" alt="護照夾 / 行李吊牌">
						</figure>
					</div>
				</section>
				<section class="product-detail">
					<ul class="link-list b-text-center">
						<li class="list b-inline"><a href="product.html#scroll" class="btn-link ga_click_trace" ga_cat="prod" ga_event="click" ga_label="design">設計理念</a></li>
						<li class="list b-inline"><a href="product-features.html#scroll" class="btn-link ga_click_trace" ga_cat="prod" ga_event="click" ga_label="detail">產品特色</a></li>
						<li class="list b-inline"><a href="javascript:;" class="btn-link is-curr ga_click_trace" ga_cat="prod" ga_event="click" ga_label="cold">涼夏被系列</a></li>
					</ul>
					<ul class="series-list">
						<li class="list">
							<div class="item-wording">
								<h3 class="item-name"><em class="upper">3M™涼夏被組</em> (附枕套)-Mosaic限量款 5x6</h3>
								<ul class="item-info">
									<li class="item">產品內容：150 x 180cm 棉被 + 75 x 50cm 純棉枕套</li>
									<li class="item">產品型號：ST100-Mosaic</li>
									<li class="item">建議售價：$5,990</li>
									<li class="item">促銷售價：<span class="upper">$3,490</span></li>
									<li class="item">產地：台灣</li>
								</ul>
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block-xs ga_click_trace" ga_cat="cold" ga_event="click" ga_label="3M"><em class="text">數量有限，馬上購買</em></a>
							</div>
							<figure class="img-wrap b-text-center-xs">
								<img src="../../Content/img/product/merchandise/01.png?img=20180322" alt="3M™涼夏被組">
								<figcaption class="b-hide-text">3M™涼夏被組</figcaption>
							</figure>
						</li>
						<li class="list">
							<div class="item-wording">
								<h3 class="item-name"><em class="upper">新絲舒眠™涼夏被組</em> (附枕套)-Mosaic限量款 5x6</h3>
								<ul class="item-info">
									<li class="item">產品內容：150 x 180cm 棉被 + 75 x 50cm 純棉枕套</li>
									<li class="item">產品型號：SDT100 Mosaic</li>
									<li class="item">建議售價：$6,990</li>
									<li class="item">促銷售價：<span class="upper">$3,990</span></li>
									<li class="item">棉材產地：德國進口</li>
									<li class="item">產地：台灣</li>
								</ul>
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block-xs ga_click_trace" ga_cat="cold" ga_event="click" ga_label="New_Silk"><em class="text">數量有限，馬上購買</em></a>
							</div>
							<figure class="img-wrap b-text-center-xs">
								<img src="../../Content/img/product/merchandise/02.png?img=20180322" alt="新絲舒眠™涼夏被組">
								<figcaption class="b-hide-text">新絲舒眠™涼夏被組</figcaption>
							</figure>
						</li>
						<li class="list">
							<div class="item-wording">
								<h3 class="item-name"><em class="upper">Filtrete™涼夏被組</em> (附枕套)-Spark限量款  5x6</h3>
								<ul class="item-info">
									<li class="item">產品內容：150 x 180cm 棉被 + 75 x 50cm 純棉枕套</li>
									<li class="item">產品型號：SFT100-Spark</li>
									<li class="item">建議售價：$6,990</li>
									<li class="item">促銷售價：<span class="upper">$3,990</span></li>
									<li class="item">棉材產地：德國進口</li>
								</ul>
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block-xs ga_click_trace" ga_cat="cold" ga_event="click" ga_label="Filtrete"><em class="text">數量有限，馬上購買</em></a>
							</div>
							<figure class="img-wrap b-text-center-xs">
								<img src="../../Content/img/product/merchandise/03.png?img=20180322" alt="Filtrete™涼夏被組">
								<figcaption class="b-hide-text">Filtrete™涼夏被組</figcaption>
							</figure>
						</li>
						<li class="list">
							<div class="item-wording">
								<h3 class="item-name"><em class="upper">3M™涼夏被</em>-星空藍  5x6</h3>
								<ul class="item-info">
									<li class="item">產品內容：150 x 180cm 棉被</li>
									<li class="item">產品型號：SZ80 Blue</li>
									<li class="item">建議售價：$3,990</li>
									<li class="item">促銷售價：<span class="upper">$2,990</span></li>
									<li class="item">產地：台灣</li>
								</ul>
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block-xs ga_click_trace" ga_cat="cold" ga_event="click" ga_label="blue"><em class="text">數量有限，馬上購買</em></a>
							</div>
							<figure class="img-wrap b-text-center-xs">
								<img src="../../Content/img/product/merchandise/04.png?img=20180322" alt="3M™涼夏被">
								<figcaption class="b-hide-text">3M™涼夏被</figcaption>
							</figure>
						</li>
					</ul>
				</section>
			</div>
			<div class="l-lightbox">
				<div class="m-lightbox">
					<button class="btn-close jQ-close"></button>
					<div class="m-lightbox-bd b-text-center">
						<img class="jQ-switch-img" src="" alt="">
					</div>
				</div>
			</div>
		</main>
		<!-- ==================== l-footer begin ==================== -->
		<!--#include file="../../Views/Shared/_Footer.html" -->
		<!-- ==================== l-footer end ==================== -->
	</div>
	<!-- ==================== not support begin ==================== -->
	<!--#include file="../../Views/Shared/_Not-Support.html" -->
	<!-- ==================== not support end ==================== -->
	<!--#include file="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!--[if gt IE 9]><!-->
	<!-- common script ft begin -->
	<!--#include file="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsFt.html" -->
	<!-- common script ft end -->
	<!-- self script begin -->
	<script defer type="text/javascript" src="../../Scripts/js/product.min.js?js=20180322"></script>
	<!-- self script end -->
	<!--<![endif]-->
</body>
</html>