<!DOCTYPE html>
<html lang="tw">
<head>
	<!--#include file="../../Views/Shared/_Meta.html" -->
	<title>給我一個賴床理由</title>
	<!--#include file="../../Views/Shared/_GlobalLink.html" -->
	<!-- self link begin -->
	<link rel="stylesheet" type="text/css" href="../../Content/css/product.css?css=20180322" />
	<!-- self link end -->
</head>
<body>
	<div class="l-body" data-page="product">
		<!-- ==================== l-header begin ==================== -->
		<!--#include file="../../Views/Shared/_Header.html" -->
		<!-- ==================== l-header end ==================== -->
		<main class="l-main">
			<div class="l-content">
				<section class="main-content">
					<div class="main-cut" data-elem=".jQ-video" data-media="https://www.youtube.com/watch?v=bsN1Fx-7Gog&autoplay=0&mute=0&vq=hd720">
						<div class="main-info">
							<h1 class="page-title"><em class="b-hide-text">幸福睡眠 涼品質選</em></h1>
							<div class="signature">
								<p class="wording">夏被限量設計師款圖案<br>委由 <b class="b-bold">聶永真</b> 設計</p>
							</div>
						</div>
						<div class="jQ-video" ga_cat="prod" ga_event="click" ga_label="youtube"></div>
					</div>
				</section>
				<section class="gift-content">
					<div class="gift-info">
						<div class="wording-wrap">
							<h3 class="gift-title b-text-center-xs">
								<em class="b-hide-text">獨家預購禮！</em>
								<ul class="flip-card b-inline">
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
									<li class="list">
										<div class="back">
											<i class="top"></i>
											<i class="bottom"></i>
										</div>
										<div class="flip-front"></div>
										<div class="flip-back"></div>
									</li>
								</ul>
							</h3>
							<ul class="gift-detail">
								<li class="list">
									<em class="info-type b-bold">時間：</em>
									<span class="info-value">即日起-5/31</span>
								</li>
								<li class="list">
									<em class="info-type b-bold">活動方式：</em>
									<span class="info-value">凡於活動期間內預購 3M™ 涼夏被組(附枕套)— Mosaic 限量款或Spark 限量款之消費者，即可得到專屬護照夾或行李吊牌一個，數量有限送完為止(活動詳請以各通路實際公告為準)</span>
								</li>
								<li class="list">
									<em class="info-type b-bold">贈品領取方式：</em>
									<span class="info-value">5/10 開始隨正品出貨</span>
								</li>
							</ul>
						</div>
						<figure class="img-wrap gift-photo">
							<img src="../../Content/img/product/gift.png?img=20180322" alt="護照夾 / 行李吊牌">
						</figure>
					</div>
				</section>
				<section class="product-detail">
					<ul class="link-list b-text-center">
						<li class="list b-inline"><a href="javascript:;" class="btn-link is-curr ga_click_trace" ga_cat="prod" ga_event="click" ga_label="design">設計理念</a></li>
						<li class="list b-inline"><a href="product-features.html#scroll" class="btn-link ga_click_trace" ga_cat="prod" ga_event="click" ga_label="detail">產品特色</a></li>
						<li class="list b-inline"><a href="product-series.html#scroll" class="btn-link ga_click_trace" ga_cat="prod" ga_event="click" ga_label="cold">涼夏被系列</a></li>
					</ul>
					<div class="designer-wrap b-text-center-xs">
						<figure class="designer-portrait b-inline b-text-left-xs">
							<img src="../../Content/img/product/nieh.png?img=20180322" alt="聶永真">
							<figcaption class="b-desc">夏被限量設計師款圖案委由 <b class="b-bold">聶永真</b> 設計</figcaption>
						</figure>
					</div>
					<div class="item-wrap">
						<div class="wording-wrap">
							<h4 class="item-sub-title b-bold">Mosaic //<br>Je ne veux pas travailler</h4>
							<h3 class="item-main-title">不想上班</h3>
							<div class="text-wrap">
								<p class="desc">夢裡搭上一般開往自由的列車，窗外風景馬賽克式陣列<br>我們擁抱夢，正在追的叫理想、追不到的叫幻想<br>再讓自己被時間追得舉手投降</p>
								<p class="desc">開機業障重，關機風險低，不想工作我睡故我在<br>誠實賴床對身心無害</p>
								<p class="desc">在討好自己的奢侈選擇題裡<br>你因為需要一張好涼被的理由簡單，重整生活的排列清單</p>
							</div>
							<div class="btn-wrap">
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block ga_click_trace" ga_cat="design" ga_event="click" ga_label="3M"><span class="text">立即搶購3M™涼夏被組</span></a>
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block ga_click_trace" ga_cat="design" ga_event="click" ga_label="New_Silk"><span class="text">立即搶購新絲舒眠™涼夏被組</span></a>
							</div>
						</div>
						<div class="photo-wrap">
							<figure class="img-wrap">
								<img src="../../Content/img/product/item1/pattern.png?img=20180322" alt="不想上班">
								<figcaption class="b-hide-text">不想上班</figcaption>
							</figure>
							<ul class="preview-list b-text-center">
								<li class="list b-inline">
									<button class="btn-img jQ-show" data-index="1" data-length="3" data-url="../../Content/img/product/item1/01b.jpg?img=20180322">
										<figure class="img-wrap b-block">
											<img src="../../Content/img/product/item1/01s.png?img=20180322" alt="新絲舒眠™涼夏被組">
										</figure>
										<em class="text">新絲舒眠™<br>涼夏被組</em>
									</button>
								</li>
								<li class="list b-inline">
									<button class="btn-img jQ-show" data-index="2" data-length="3" data-url="../../Content/img/product/item1/02b.jpg?img=20180322">
										<figure class="img-wrap b-block">
											<img src="../../Content/img/product/item1/02s.png?img=20180322" alt="3M™涼夏被組">
										</figure>
										<em class="text">3M™<br class="b-hide-md">涼夏被組</em>
									</button>
								</li>
								<li class="list b-inline">
									<button class="btn-img jQ-show" data-index="3" data-length="3" data-url="../../Content/img/product/item1/03b.jpg?img=20180322">
										<figure class="img-wrap b-block">
											<img src="../../Content/img/product/item1/03s.png?img=20180322" alt="不想上班">
										</figure>
										<em class="text">不想上班</em>
									</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="item-wrap">
						<div class="wording-wrap">
							<h4 class="item-sub-title b-bold">Sparks //<br>PLEASE DO NOT DISTURB</h4>
							<h3 class="item-main-title">請勿打擾</h3>
							<div class="text-wrap">
								<p class="desc">夢裡趕上一場花火祭，隻手抓取線條斑斕<br>人類可以為某個早晨的N個賴床找出一百個理由<br>卻不好意思把藉口推給夢</p>
								<p class="desc">一個設計完好的夢，讓人捨不得離開床<br>今天請勿打擾，超現實就是現實</p>
								<p class="desc">在討好自己的奢侈選擇題裡<br>你因為需要一張好涼被的理由簡單，重整生活的排列清單</p>
							</div>
							<div class="btn-wrap">
								<a href="javascript:;" target="_blank" class="btn-link b-text-center b-block ga_click_trace" ga_cat="design" ga_event="click" ga_label="Filtrete"><span class="text">立即搶購Filtrete™涼夏被組</span></a>
							</div>
						</div>
						<div class="photo-wrap">
							<figure class="img-wrap">
								<img src="../../Content/img/product/item2/pattern.png?img=20180322" alt="請勿打擾">
								<figcaption class="b-hide-text">請勿打擾</figcaption>
							</figure>
							<ul class="preview-list b-text-center">
								<li class="list b-inline">
									<button class="btn-img jQ-show" data-index="1" data-length="2" data-url="../../Content/img/product/item2/01b.jpg?img=20180322">
										<figure class="img-wrap b-block">
											<img src="../../Content/img/product/item2/01s.png?img=20180322" alt="Filtrete™涼夏被組">
										</figure>
										<em class="text">Filtrete™<br class="b-hide-md">涼夏被組</em>
									</button>
								</li>
								<li class="list b-inline">
									<button class="btn-img jQ-show" data-index="2" data-length="2" data-url="../../Content/img/product/item2/02b.jpg?img=20180322">
										<figure class="img-wrap b-block">
											<img src="../../Content/img/product/item2/02s.png?img=20180322" alt="請勿打擾">
										</figure>
										<em class="text">請勿打擾</em>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
			<div class="l-lightbox">
				<div class="m-lightbox">
					<div class="m-lightbox-bd b-text-center">
						<img class="jQ-switch-img" src="" alt="">
					</div>
					<button class="btn-close jQ-close"><em class="b-hide-text">關閉</em></button>
					<button class="btn-arrow btn-prev jQ-arrow"><em class="b-hide-text">上一張</em></button>
					<button class="btn-arrow btn-next jQ-arrow"><em class="b-hide-text">下一張</em></button>
				</div>
			</div>
		</main>
		<!-- ==================== l-footer begin ==================== -->
		<!--#include file="../../Views/Shared/_Footer.html" -->
		<!-- ==================== l-footer end ==================== -->
	</div>
	<!-- ==================== not support begin ==================== -->
	<!--#include file="../../Views/Shared/_Not-Support.html" -->
	<!-- ==================== not support end ==================== -->
	<!--#include file="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!--[if gt IE 9]><!-->
	<!-- common script ft begin -->
	<!--#include file="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include file="../../Views/Shared/_GlobalScriptsFt.html" -->
	<!-- common script ft end -->
	<!-- self script begin -->
	<script defer type="text/javascript" src="../../Scripts/js/product.min.js?js=20180322"></script>
	<!-- self script end -->
	<!--<![endif]-->
</body>
</html>