<div class="l-hd">
	<header class="m-hd b-fw-b b-fx-r b-ai-fe b-jc-fs">
		<button class="btn-menu jQ-menu">
			<em class="txt b-h-t">MENU</em>
		</button>
		<nav class="link-wrap b-fx-c b-jc-c b-ai-c b-fw-b">
			<h5 class="hint b-c-bg">
				<svg class="svg-icon heart b-d-i"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#heart"/></svg>
				<span class="txt b-d-i">溫馨小提醒</span>
				<svg class="svg-icon heart b-d-i"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#heart"/></svg>
			</h5>
			<span class="main-msg b-d-i b-c-wh">點這裡沒有加薪。</span>
			<svg class="svg-icon arrow"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#arrow"/></svg>
			<svg class="svg-icon sweat"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#sweat"/></svg>
		</nav>
	</header>
</div>