<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui, viewport-fit=cover" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta property="og:title" content="SUGARFUN CREATIVE 方形糖創意數位" />
<meta property="og:description" name="description" content="當個活活潑潑的好學生，做個堂堂正正的社畜人" />
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://ilovemyjob.sugarfun.com.tw" />
<meta property="og:image" content="../../Content/img/shared/fb-share.png?img=20190107"/>
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="當個活活潑潑的好學生，做個堂堂正正的社畜人"/>
<meta name='msapplication-TileImage' content='../../Content/img/shared/TileImage.png'>
<meta name='msapplication-TileColor' content='#fbd528'>
<meta name='theme-color' content='#fbd528'>