	<div class="l-n-sup">
		<div class="m-n-sup b-t-c b-fx-c b-ai-c b-jc-c">
			<div class="m-n-sup-hd b-fx-c b-ai-c b-jc-fs">
				<svg class="svg-icon shared-dialog-1"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#shared-dialog-1"/></svg>
				<p class="m-n-sup-title b-c-wh b-fw-b">這年頭，手機<b class="b-c-bg">直的玩</b><br>比較酷喔<svg class="svg-icon heart b-d-i"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#heart-o"/></svg></p>
			</div>
			<div class="m-n-sup-bd b-fx-c b-ai-c b-jc-c">
				<figure class="qrcode-img b-bg-wh">
					<img src="../../Content/img/shared/qrcode.jpg" alt="">
				</figure>
				<span class="txt b-fw-b b-c-wh">快掃 QR code 來一起社畜自救吧！</span>
			</div>
			<div class="m-n-sup-ft">
				<div class="m-n-sup-copyright">
					<p class="m-n-sup-info b-fw-b">SUGARFUN 2019 Copyright ©</p>
				</div>
			</div>
		</div>
	</div>
	<div class="l-locker">
		<div class="m-locker b-t-c b-fx-c b-ai-c b-jc-c">
			<svg class="svg-icon icon-landscape"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#icon-landscape"/></svg>
			<p class="locker-title b-c-wh b-fw-b">這年頭，手機<b class="b-c-bg">直的玩</b>比較酷喔<svg class="svg-icon heart b-d-i"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#heart-o"/></svg></p>
			<div class="m-locker-ft">
				<p class="m-n-sup-info b-fw-b">SUGARFUN 2019 Copyright ©</p>
			</div>
		</div>
	</div>
	<div class="l-in-app">
		<div class="m-locker b-t-c b-fx-c b-ai-c b-jc-c">
			<div class="dialog-box b-fx-c b-ai-c b-jc-c">
				<svg class="svg-icon shared-dialog-2"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#shared-dialog-2"/></svg>
				<p class="desc b-c-wh">
					<span class="b-fw-b">iOS 要使用 Safari 瀏覽、<br>Android 要用 Chrome 瀏覽，<br>這樣子才可以參加完整的活動喔！</span><span class="hint b-d-b">於手機畫面尋找<svg class="svg-icon b-d-i b-bg-wh icon-share"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#icon-share"/></svg>or<svg class="svg-icon b-d-i b-bg-wh icon-more"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#icon-more"/></svg>圖示</span>
				</p>
			</div>
			<svg class="svg-icon icon-hint"><use xlink:href="../../Content/svg/icon-shared.svg?svg=20190107#icon-hint"/></svg>
		</div>
	</div>